/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #020027;
  --first-color-alt: #F6921E;
  --white-color: #FFFFFF;
  --gray-color: #8F9091;
  --text-color: #444548;
  --body-color: #FDFCFF;
  --tabs--color: #EFEDFE;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Open Sans", sans-serif;
  --bigger-font-size: 3rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1.125rem;
  --h5-font-size: 1rem;
  --h6-font-size: 0.875rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --bigger-font-size: 4rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 1rem;
    --h6-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font: var(--font-regular) var(--normal-font-size) var(--body-font);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

h1 {
  font-weight: var(--font-bold);
  line-height: 120%;
  color: var(--first-color);
}

h2, h3, h4, h5 {
  font-weight: var(--font-semi-bold);
  line-height: 120%;
  color: var(--first-color);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  line-height: 160%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1200px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.section {
  padding-block: 3rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  color: var(--first-color);
}

.main {
  overflow: hidden;
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2); 
  z-index: 10;
  display: none;
}

.center {
  text-align: center;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  bottom: 18px;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav__logo {
  display: flex;
  gap: 4px;
  align-items: center;
}

.logo {
  display: none;
}

.logo__img {
  width: 22px;
}

.logo__name {
  font-weight: var(--font-bold);
  color: var(--first-color-alt);
}

.nav__close,
.toggle {
  display: inline-flex;
  cursor: pointer;
  color: var(--first-color);
  font-size: 24px;
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    bottom: 1rem;
    right: -100%;
    background-color: var(--body-color);
    width: 90%;
    padding: 2rem;
    transition: right .4s;
    border-radius: 16px;
  }
}

.toggle {
  background-color: var(--body-color);
  border: 2px solid var(--white-color);
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .04);
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  list-style: none;
}

.nav__link {
  color: var(--first-color);
  font-size: var(--h4-font-size);
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--gray-color);
}

.nav__close {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
}

.show-menu {
  right: 1rem;
}

.nav__btn {
  background-color: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-size: 18px;
  font-weight: var(--font-semi-bold);
  border-radius: 16px;
  text-align: center;
  width: 158px;
  height: 56px;
  margin-top: 1rem;
  transition: background-color 0.4s;
}

.nav__btn:hover,
.main__btn:hover {
  background-color: #04004b;
}

/*=============== HOME ===============*/
.home__container {
  gap: 2rem;
}

.tab {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--tabs--color);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  font-size: var(--small-font-size);
  border-radius: 16px;
  width: fit-content;
}

.main__heading {
  font-size: var(--bigger-font-size);
  color: var(--first-color);
}

.color__text {
  color: var(--first-color-alt);
}

.main__description {
  font-size: 18px;
}

/*=============== BUTTON ===============*/
.main__btn {
  background-color: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-size: 18px;
  font-weight: var(--font-semi-bold);
  border-radius: 16px;
  text-align: center;
  width: 158px;
  height: 56px;
  transition: background-color 0.4s;
}

.read__more {
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  text-decoration: underline;
}

/*=============== CLIENTS ===============*/
.clients__description {
  color: var(--gray-color);
  font-size: var(--small-font-size);
}

.clients__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.clients__img {
  width: 80px;
}

/*=============== SERVICES ===============*/
.services__container,
.cases__container {
  border: 4px solid var(--white-color);
  border-radius: 16px;
  padding: 48px 16px;
  gap: 2rem;
}

.services__cards__row,
.cases__cards__row,
.reviews__cards__row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.services__card,
.cases__card,
.reviews__card,
.additional__card {
  background-color: var(--white-color);
  border-radius: 16px;
  padding: 16px;
  align-content: space-between;
}

.services__card {
  max-width: 369px;
}

.services__title,
.cases__title {
  font-size: var(--h4-font-size);
}

.tabs__row {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}


/*=============== ABOUT ===============*/
.about__container {
  justify-content: center;
  text-align: center;
  gap: 2rem;
  max-width: 790px;
  justify-self: center;
}

.about__header {
  gap: 8px;
}

.about__img {
  width: 160px;
  justify-self: center;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .04);
}

.about__btn {
  justify-self: center;
}


/*=============== CASES ===============*/
.cases__card {
  max-width: 569px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .04);
}

.cases__card img {
  border-radius: 8px;
}

/*=============== REVIEWS ===============*/
.reviews__card {
  max-width: 380px;
}

.reviews__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ri-star-fill {
  color: var(--first-color-alt);
}

.reviews__img {
  height: 24px;
}

.reviews__line {
  border-top: 1px solid var(--tabs--color);
  border-bottom: none;
}

.reviews__name {
  gap: 4px;
}

.reviews__name h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--font-semi-bold);
}

.reviews__name p {
  font-size: var(--small-font-size);
}

/*=============== FOOTER ===============*/
.footer {
  margin-top: 40px;
  background-color: var(--first-color);
  color: var(--white-color);
  font-size: var(--small-font-size);
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 1rem;
}

.footer__container a {
  color: var(--white-color);
}

.top__footer__data,
.contact__footer__data,
.social__links,
.bottom__footer__data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.privacy__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

/*==============================*/

/*=============== ABOUT PAGE ===============*/
.about__data {
  padding: 16px;
  border-radius: 16px;
  background-color: var(--white-color);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .04);
}

.about__image {
  border-radius: 8px;
  width: 340px;
  justify-self: center;
}

.team__container {
  gap: 40px;
}

.team__header {
  justify-content: center;
  text-align: center;
  max-width: 790px;
  justify-self: center;
}

.team__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.team__data {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
  width: 126px;
}

.team__image {
  border: 2px solid var(--first-color-alt);
  border-radius: 16px;
  overflow: hidden;
  width: 80px;
  height: 80px;
}

.team__info {
  gap: 0px;
}

.team__name {
  text-transform: uppercase;
}

/*==============================*/

/*=============== CASES PAGE ===============*/

.main__case__card {
  max-width: 585px;
}

/*==============================*/

/*=============== BLOG PAGE ===============*/
.blog__cards__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.blog__card {
  padding: 1rem;
  background-color: white;
  border-radius: 16px;
  justify-self: center;
  max-width: 380px;
}

.blog__img {
  max-width: 346px;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
}

.blog__container {
  gap: 2rem;
}

.blog__heading {
  text-align: center
}

.main__blog__image__container {
  max-height: 450px;
  width: 100%;
  justify-self: center;
  overflow: hidden;
}

.main__blog__image__container img {
  width: 100%;
}

.blog__list {
  margin-left: 16px;
}

.blog__link {
  color: var(--first-color-alt);
}

@media screen and (min-width: 1024px){

  .section {
    padding-block: 6rem 1rem;
  }

  .home {
    margin-top: 3rem;
  }

  .clients__row {
    justify-content: space-between;
  }

  .header {
    width: 100%;
    top: 0;
    height: 4rem;
    left: 0;
    background-color: var(--body-color);
  }

  .nav {
    justify-content: space-between;
    height: 4rem;
  }

  .logo {
    display: initial;
  }

  .nav__menu {
    width: initial;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .nav__close,
  .toggle{
    display: none;
  }

  .nav__list {
    flex-direction: row;
    padding: 0;
    gap: 1rem;
  }

  .nav__link {
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    text-transform: none;
  }

  .nav__btn {
    font-size: var(--normal-font-size);
    width: 126px;
    height: 46px;
    margin-top: 0;
  }

   .footer__container {
    gap: 2rem;
  }

  .top__footer__data,
  .contact__footer__data,
  .social__links,
  .bottom__footer__data {
    flex-direction: row;
    justify-content: space-between;
  }

  .about__data {
    grid-template-columns: 340px 1fr;
    align-items: center;
  }

  .team__data {
    flex-direction: row;
    text-align: initial;
    width: initial;
  }

  .services__description__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }

}

@media screen and (min-width: 1200px){
  .container {
    margin-inline: auto;
  }

  .services__cards__row,
  .cases__cards__row,
  .reviews__cards__row {
    justify-content: space-between;
  }

}
