/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --hue: 180;
  --first-color: #020027;
  --first-color-alt: #F6921E;
  --white-color: #FFFFFF;
  --gray-color: #8F9091;
  --text-color: #444548;
  --body-color: #FDFCFF;
  --tabs--color: #EFEDFE;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Open Sans", sans-serif;
  --bigger-font-size: 2.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.625rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --bigger-font-size: 4rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.625rem;
    --h4-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font: var(--font-regular) var(--normal-font-size) var(--body-font);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

button {
  outline: none;
  border: none;
}

h1 {
  font-weight: var(--font-bold);
  line-height: 120%;
}

h2, h3, h4, h5 {
  font-weight: var(--font-semi-bold);
  line-height: 120%;
  color: var(--first-color);
}

p {
  line-height: 160%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.section {
  padding-block: 3rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  color: var(--first-color);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden;
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2); 
  z-index: 10;
  display: none;
}

.center {
  text-align: center;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  bottom: 18px;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav__logo {
  display: flex;
  gap: 4px;
  align-items: center;
}

.logo {
  display: none;
}

.logo__img {
  width: 22px;
}

.logo__name {
  font-weight: var(--font-bold);
  color: var(--first-color-alt);
}

.nav__close,
.toggle {
  display: inline-flex;
  cursor: pointer;
  color: var(--first-color);
  font-size: 24px;
}

@media screen and (max-width: 1024px) {
  .nav__menu {
    position: fixed;
    bottom: 1rem;
    right: -100%;
    background-color: var(--body-color);
    width: 90%;
    padding: 2rem;
    transition: right .4s;
    border-radius: 16px;
  }
}

.toggle {
  background-color: var(--body-color);
  border: 2px solid var(--white-color);
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .04);
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav__link {
  color: var(--first-color);
  font-size: var(--h4-font-size);
  text-transform: uppercase;
  font-weight: var(--font-semi-bold)
}

.nav__close {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
}

.show-menu {
  right: 1rem;
}

.nav__btn {
  background-color: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-size: 18px;
  font-weight: var(--font-semi-bold);
  border-radius: 16px;
  text-align: center;
  width: 158px;
  height: 56px;
  margin-top: 1rem;
}


/*=============== HOME ===============*/
.home__container {
  gap: 2rem;
}

.tab {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--tabs--color);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  font-size: var(--small-font-size);
  border-radius: 16px;
  width: fit-content;
}

.main__heading {
  font-size: var(--bigger-font-size);
  color: var(--first-color);
}

.color__text {
  color: var(--first-color-alt);
}

.main__description {
  font-size: 18px;
}

/*=============== BUTTON ===============*/
.main__btn {
  background-color: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-size: 18px;
  font-weight: var(--font-semi-bold);
  border-radius: 16px;
  text-align: center;
  width: 158px;
  height: 56px;
}

.read__more {
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  text-decoration: underline;
}

/*=============== CLIENTS ===============*/
.clients__description {
  color: var(--gray-color);
  font-size: var(--small-font-size);
}

.clients__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.clients__img {
  width: 80px;
}

/*=============== SERVICES ===============*/
.services__container {
  border: 4px solid var(--white-color);
  border-radius: 16px;
  padding: 16px;
}

.services__cards__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.services__card {
  background-color: var(--white-color);
  border-radius: 16px;
  padding: 16px;
}

.services__title {
  font-size: var(--h4-font-size);
}

.tabs__row {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}


/*=============== PROJECTS ===============*/


/*=============== RESUME ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */


/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
